/* Custom global overrides and tokens */
:root {
  --ring: 0 0% 62.8%;
}

.link-brand {
  color: var(--brand);
}

.link-brand:hover {
  color: #535bf2;
}
.notched-corner {
  clip-path: path("M0,20 Q0,0 20,0 L100%,0 L100%,100% L0,100% Z");
}